.main-div {
  margin: 12vh 0;
}
.add-item {
  display: flex;
  width: 500px;
  margin: 0 auto;
  position: relative;
}
.add-box {
  width: 100%;
}
.add-item ion-icon {
  position: absolute;
  color: darkgray;
  font-size: 25px;
  right: 25px;

  top: 3px;
}
.child-div figcaption {
  font-size: 22px;
  padding-top: 15px;
}
.add-item input {
  padding: 5px 24px;
  font-size: 16px;
  width: 100%;
  max-width: 80%;
}
@media screen and (max-width: 500px) {
  .add-item {
    width: 350px;
  }
  .add-item ion-icon {
    top: 3px;
    right: 10px;
  }
}
